.about-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/images/Background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: 85vh;
}

.page-header {
  font-family: "Roboto Slab", serif;
  color: #e7dfdd;
}

.about-content {
  margin-top: 50px;
  font-family: "Roboto Slab", serif;
  color: #e7dfdd;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#profile {
  margin-top: 60px;
  width: 210px;
  height: 250px;
  border-radius: 50%;
}



@media (max-width: 540px) { 

    .about-content {
        margin-top: 30px;
        font-family: "Roboto Slab", serif;
        color: #e7dfdd;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
      }
    
    #profile {
        
        width: 110px;
        height: 140px;
        border-radius: 50%;
        margin-bottom:10px;
      }


 }





  

