

.about-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.page-header{

    margin-top: 70px;
    font-family: 'Roboto Slab', serif;
    color: #E7DFDD;

}

.about-content{
     
    margin-top:50px;
    font-family: 'Roboto Slab', serif;
    color: #E7DFDD;
    max-width: 60%;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;

}



#profile {
    margin-top: 50px;
    width: 210px;
    height: 250px;
    border-radius: 50%;
  }


  
  @media (max-width:800px) {

    .about-content{
     
        margin-top:50px;
        font-family: 'Roboto Slab', serif;
        color: #E7DFDD;
        max-width: 60%;
        margin-left:auto;
        margin-right:auto;
        font-size: 15px;
    
    }

}